:root{
    --azul-escuro: #1956b4;
    --branco-principal: #FFFFFF;
    --azul-claro: #38b6FF;
    --fundo-claro: #F1F8FA;
    --font-text: 'IBM Plex Sans', sans-serif;
    --font-titulo: 'JetBrains Mono', monospace;
    --font-especial: 'Jura', sans-serif;
    --font-text-alternativo: 'Open Sans', sans-serif;
}


body {
    font-family: var(--font-text)
}

.mainlogin{
    background-color: var(--azul-escuro);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formlogin strong{
    font-weight: bold;
}

.formlogin{
    background: #FFFFFF;
    width: 400px;
    height: 360px;
    padding: 30px;

}

.login__logo, .formlogin p {
    text-align: center;
}

.login__logo{
    margin-bottom: 10px;
}

.formlogin p {
    margin-bottom: 10px;
    color: grey;
}

.login__label{
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: grey;
    margin-bottom: 5px;
}
.login__input{
    display: block;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px grey solid;
    margin-bottom: 10px;
    color: grey
}

.login__input:focus{
    border: 4px #96e6fe solid;
    color: rgb(69, 69, 69)
}

.login__forgetter{
    text-decoration: none;
    font-size: 12px;
    margin-left: 266px;
    color: #0197dc
}

.login__forgetter:hover{
    color: #074cd6;
    text-decoration: underline;
}

.login__submit{
    padding: 10px;
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: var(--azul-claro);
    border-radius: 10px;
    color: #FFFFFF;
    transition: 400ms;
    margin-top: 20px;
    margin-bottom: 30px;

}

.login__submit:hover{
    background: #4bb6d6;
}

.login__submit:active{
    background: #068eb8;
}

.login__fornecido{
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.5;
}
/* login nos celulares */
@media (max-width: 445px) {
    .login__forgetter{
        margin-left: 250px;
    }
}
/* login nos celulares antigos */
@media (max-width: 365px) {
    .formlogin{
        width: 350px;
        height: 420px;
        padding: 15px;
    
    }
    .login__forgetter{
        margin-left: 200px;
    }
}