.rodape__logo {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.rodape {
    padding: 1em 1em 2em 1em;
    border-top: 2px #858585 solid;
    background-color: var(--branco);
    
}